# Data Type And Structures Assignment Theoritical Questions

1. What are data structures, and why are they important?

    - Data structures are ways of organizing and storing data to enable efficient access and modification. They are essential for optimizing data processing, improving algorithm performance, and solving problems effectively.

2. Explain the difference between mutable and immutable data types with examples.

    - Mutable: Can be changed after creation.

      Example: list, dict, set

           my_list = [1, 2, 3]
       my_list.append(4)  # This modifies the original list


    - Immutable: Cannot be changed after creation.

      Example: int, float, tuple, str

           my_str = "hello"
      my_str[0] = "H"  → Error

3. What are the main differences between lists and tuples in Python?
  - 1. Mutability

       -List: Mutable – its contents (elements) can be changed after creation (elements can be added, removed, or modified).

       -Tuple: Immutable – once created, its contents cannot be changed. This makes tuples more stable and suitable for fixed data.

      2. Syntax

         -List: Defined using square brackets []

         Example: my_list = [1, 2, 3]

         -Tuple: Defined using parentheses ()

          Example: my_tuple = (1, 2, 3)

      3. Performance

         Tuples are generally faster than lists when it comes to iteration and access because they are immutable and have less overhead.

         Lists have additional methods and flexibility, which may lead to a slight performance cost.

4. Describe how dictionaries store data.

    - Dictionaries store data as key-value pairs using a hash table internally. Each key is hashed to find its index, enabling fast lookup, insertion, and deletion.

5. Why might you use a set instead of a list in Python?

    - Sets automatically remove duplicate values.

      Offer faster membership testing (in) compared to lists due to internal hashing.

6. What is a string in Python, and how is it different from a list?

    - A string is a sequence of characters (e.g., "hello") and is immutable.

      A list is a collection of elements (e.g., [1, "hello", 3.5]) and is mutable.

7. How do tuples ensure data integrity in Python?

    - Tuples are immutable, meaning once created, their contents can’t be changed. This helps ensure the data remains unchanged and safe from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?

    - A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables to allow O(1) average time complexity for access, insertion, and deletion.

9. Can lists contain different data types in Python?

    - Yes. Python lists are heterogeneous, meaning they can contain multiple data types:

      my_list = [1, "hello", 3.14, [4, 5]]

10. Explain why strings are immutable in Python.

    - Strings are immutable for reasons including:

       - Thread safety

        - Memory efficiency (shared strings)

         - Hashing support (immutable objects can be dictionary keys)

11. What advantages do dictionaries offer over lists for certain tasks?

    - Faster lookups by key (O(1) vs. O(n))

    - key-value mapping, ideal for associative data

      Example: storing user data by ID

12. Describe a scenario where using a tuple would be preferable over a list.

    - When you need to store constant data that shouldn’t be modified.
    
      Example: (latitude, longitude) for a GPS coordinate.

13. How do sets handle duplicate values in Python?

    - Sets automatically eliminate duplicates.

      set([1, 2, 2, 3])
       # Output: {1, 2, 3}

14. How does the in keyword work differently for lists and dictionaries?

    - List: Checks if a value is in the list → O(n)

    - Dictionary: Checks if a key exists → O(1) average

15. Can you modify the elements of a tuple? Explain why or why not.

    - No. Tuples are immutable. Once created, elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case.

    - A nested dictionary is a dictionary inside another dictionary.

      Use case: Storing structured data like student records.

       students = {
        
        "Alice": {"age": 20, "grade": "A"},

         "Bob": {"age": 22, "grade": "B"},

         }

17. Describe the time complexity of accessing elements in a dictionary.

    - Average case: O(1) (constant time)

      Worst case (in rare hash collision scenarios): O(n)

18. In what situations are lists preferred over dictionaries?

    - -  When order matters

        - For sequential data

        -  When index-based access is needed

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

    - Prior to Python 3.7, dictionaries didn't maintain insertion order. Even though modern Python versions preserve order, they are still optimized for key-based access, not order-based traversal.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

    - List: Access via index → list[0]

    - Dictionary: Access via key → dict["name"]

    - Lists are ordered, dictionaries are key-mapped

# Practical Questions

In [ ]:
#1. Create a string with your name and print it
name = "John Doe"
print(name)

In [2]:
# 2. Find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
# 3. Slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [4]:
# 4. Convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [5]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [6]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [9]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# 10. Reverse the list [10, 20, 30, 40, 50]
values = [10, 20, 30, 40, 50]
values.reverse()
print(values)

[50, 40, 30, 20, 10]

In [11]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [12]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [16]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'a', 'c'}

In [17]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
nums = {1, 2, 3, 4}
nums.remove(4)
print(nums)

{1, 2, 3}

In [19]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [21]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
info = {'name': 'John', 'age': 25}
info["country"] = "USA"
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
data = {'name': 'Alice', 'age': 30}
print(data["name"])

Alice

In [24]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dic = {'name': 'Alice', 'city': 'Paris'}
print("city" in dic)

True

In [26]:
# 26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [27]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print
import random
rand_list = [random.randint(1, 100) for _ in range(5)]
rand_list.sort()
print(rand_list)

[38, 57, 69, 91, 91]

In [28]:
# 28. Create a list with strings and print the element at the third index
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [29]:
# 29. Combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# 30. Convert a list of strings into a set
str_list = ["apple", "banana", "cherry", "apple"]
str_set = set(str_list)
print(str_set)

{'cherry', 'banana', 'apple'}